@charset "utf-8";
/* CSS Document */
#Divtexto{height:auto ; background-color:#3CF ; width: 480px ;  }
#Divtexto1{height:auto ; background-color:#3CF ; width: 480px ;  }
#Divtexto2{height:auto ; background-color:#3CF ; width: 480px ;  }
#divcolor{text-decoration:blink}
#Divtexto4{height:auto ; background-color:#363; width: 480px ;  }

